<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <servlet>
        <!-- el nombre que queramos-->
        <servlet-name>ServletHola</servlet-name>
        <!--aqui tiene q ser el nombre de la clase tal cual-->
        <servlet-class>com.sinensia.servlets.HolaServlet</servlet-class>
        
    </servlet>
    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>com.sinensia.servlets.ParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
         <!-- El nombre del servlet que hayas asociado antes a una clase  -->
        <servlet-name>ServletHola</servlet-name>
       <!-- lo que se va a añadir a la ruta-->
        <url-pattern>/hola</url-pattern>
        
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
</web-app>
