<div class="form-group">
    <label for="email">Email address</label>
    <input #email [(ngModel)]="cliente.email" type="email" class="form-control" id="email" name="password" placeholder="user@example.com" [disabled]="editable === false">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input #password [(ngModel)]="cliente.password" type="password" class="form-control" id="password" name="password" placeholder="password" [disabled]="editable == false">
</div>
<div class="form-group">
    <label for="name">Name</label>
    <input #name [(ngModel)]="cliente.name" type="text" class="form-control" id="name" name="name" placeholder="Roberto" [disabled]="editable == false">
</div>
<div class="form-group">
    <label for="age">Age</label>
    <input #age [(ngModel)]="cliente.age" type="number" class="form-control" id="age" name="age" placeholder="15" [disabled]="editable == false">
</div>